@use '../abstracts/variables' as v;

.users {
  margin-top: 5rem;
  &__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  &__head {
    display: flex;
    justify-content: space-between;
  }
  &__body {
    margin-top: 2rem;
  }
  &__result {
    font-size: 1.6rem;
  }
  &__actions {
    flex-shrink: 0;
    display: flex;
    gap: 1rem;
  }
  &__form {
    margin-top: 2rem;
  }
}

.userItem {
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__actions {
    flex-shrink: 0;
    margin-left: 2rem;
  }
  &__info {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  &__profileWrap {
    position: relative;
    margin-right: 2rem;
  }
  &__profile {
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    overflow: hidden;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
    }
  }
  &__profileBtn {
    margin-top: 1rem;
  }
  &__profileBtns {
    display: flex;
    flex-direction: column;
  }
  &__texts {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1;
  }
  &__name {
    font-size: 1.8rem;
    font-weight: 500;
  }
  &__email {
    font-size: 1.4rem;
  }
  &__actions {
    display: flex;
    gap: 1rem;
  }
  &__editer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__checkbox {
    margin-right: 1rem;
  }
  &__profileName {
    font-size: 1.2rem;
    font-weight: 500;
    display: block;
    margin-top: 1rem;
  }
}

.userForm {
  &__box {
    display: flex;
    align-items: center;
  }

  &__profileWrap {
    position: relative;
    margin-right: 2rem;
  }
  &__profile {
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    overflow: hidden;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
    }
  }
  &__profileBtn {
    margin-top: 1rem;
  }
  &__profileBtns {
    display: flex;
    flex-direction: column;
  }
  &__editer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
  }
  &__profileName {
    font-size: 1.2rem;
    font-weight: 500;
    display: block;
    margin-top: 1rem;
  }
}
